# yahoo_fin

This script demonstrates what can be obtained by using yahoo_fin library.

Resources:
- https://github.com/atreadw1492/yahoo_fin
- http://theautomatic.net/yahoo_fin-documentation/
- http://theautomatic.net/2018/07/31/how-to-get-live-stock-prices-with-python/

In [1]:
from yahoo_fin import stock_info as si

## tickers

In [2]:
nasdaq_ticker_list = si.tickers_nasdaq()
len(nasdaq_ticker_list)

4691

In [16]:
nasdaq_ticker_list[0:3]

['AACG', 'AACQ', 'AACQU']

In [10]:
sp500_ticker_list = si.tickers_sp500()
len(sp500_ticker_list)

C:\Users\tjtek\anaconda3\lib\site-packages\yahoo_fin\stock_info.py:130: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  sp500["Symbol"] = sp500["Symbol"].str.replace(".", "-")

505

In [13]:
sp500_ticker_list[0:2]

['A', 'AAL']

In [11]:
other_tickers = si.tickers_other()
len(other_tickers)

6002

In [14]:
other_tickers[0:2]

['A', 'AA']

## Quotes & Prices

In [4]:
info = si.get_quote_table("amzn")
info

{'1y Target Est': 4218.76,
 '52 Week Range': '2,330.00 - 3,554.00',
 'Ask': '0.00 x 1000',
 'Avg. Volume': 3759096.0,
 'Beta (5Y Monthly)': 1.15,
 'Bid': '0.00 x 1300',
 "Day's Range": '3,230.37 - 3,312.00',
 'EPS (TTM)': 52.56,
 'Earnings Date': 'Jul 28, 2021 - Aug 02, 2021',
 'Ex-Dividend Date': nan,
 'Forward Dividend & Yield': 'N/A (N/A)',
 'Market Cap': '1.63T',
 'Open': 3292.57,
 'PE Ratio (TTM)': 61.49,
 'Previous Close': 3270.39,
 'Quote Price': 3232.280029296875,
 'Volume': 2828391.0}

In [15]:
aapl = si.get_data("aapl")
aapl.head()

                open      high       low     close  adjclose     volume ticker
1980-12-12  0.128348  0.128906  0.128348  0.128348  0.100751  469033600   AAPL
1980-12-15  0.122210  0.122210  0.121652  0.121652  0.095495  175884800   AAPL
1980-12-16  0.113281  0.113281  0.112723  0.112723  0.088485  105728000   AAPL
1980-12-17  0.115513  0.116071  0.115513  0.115513  0.090676   86441600   AAPL
1980-12-18  0.118862  0.119420  0.118862  0.118862  0.093304   73449600   AAPL

In [17]:
si.get_live_price('aapl')

124.8499984741211

## How to get cryptocurrency prices

In [19]:
si.get_top_crypto().head()

,Symbol,Name,Price (Intraday),Change,% Change,Market Cap,Volume in Currency (Since 0:00 UTC),Volume in Currency (24Hr),Total Volume All Currencies (24Hr),Circulating Supply
0,BTC-USD,Bitcoin USD,39746.700000,-5611.390000,-12.37,7.437970e+11,6.435300e+10,6.435300e+10,6.435300e+10,1.871300e+07
1,ETH-USD,Ethereum USD,3018.130000,-516.970000,-14.62,3.499010e+11,4.505200e+10,4.505200e+10,4.505200e+10,1.159330e+08
2,BNB-USD,BinanceCoin USD,431.110000,-99.430000,-18.74,6.614700e+10,4.601000e+09,4.601000e+09,4.601000e+09,1.534330e+08
3,USDT-USD,Tether USD,1.000384,0.000421,0.04,5.836300e+10,1.593170e+11,1.593170e+11,1.593170e+11,5.834000e+10
4,ADA-USD,Cardano USD,1.756546,-0.357696,-16.92,5.611900e+10,8.416000e+09,8.416000e+09,8.416000e+09,3.194800e+10

## How to get most active, biggest gainers / losers

In [21]:
# get most active stocks on the day
si.get_day_most_active().head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,T,AT&T Inc.,29.55,-1.82,-5.80,246869000.0,43116000.0,210987000000.0,NaN
1,AMC,"AMC Entertainment Holdings, Inc.",14.03,0.08,0.57,172488000.0,95166000.0,6317000000.0,NaN
2,F,Ford Motor Company,12.14,-0.01,-0.08,71044000.0,65962000.0,48459000000.0,12.21
3,NIO,NIO Inc.,34.19,0.38,1.12,63692000.0,97112000.0,56021000000.0,NaN
4,AAPL,Apple Inc.,124.85,-1.42,-1.12,63343000.0,104193000.0,2.083T,28.06

In [22]:
# get biggest gainers
si.get_day_gainers().head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,GCPEF,GCL-Poly Energy Holdings Limited,0.223,0.058,35.15,379328.0,359201.0,8.629000e+09,NaN
1,LEGN,Legend Biotech Corporation,35.300,4.400,14.24,2492000.0,378793.0,4.778000e+09,NaN
2,CRC,California Resources Corporation,28.700,3.510,13.93,1771000.0,345778.0,2.391000e+09,0.84
3,TUYA,Tuya Inc.,21.500,2.540,13.40,1069000.0,1559000.0,1.203500e+10,NaN
4,AUOTY,AU Optronics Corp.,8.350,0.970,13.14,421737.0,346414.0,7.689000e+09,NaN

In [23]:
# get worst performers
si.get_day_losers().head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,TLS,Telos Corporation,29.660,-4.980,-14.38,2932000.0,722516.0,1.979000e+09,NaN
1,SNCY,"Sun Country Airlines Holdings, Inc.",35.100,-4.640,-11.68,542821.0,404983.0,2.006000e+09,NaN
2,SAML,"Samsara Luggage, Inc.",1.580,-0.170,-9.71,21871.0,15686.0,1.354000e+06,NaN
3,VOD,Vodafone Group Plc,18.370,-1.870,-9.24,11651000.0,3271000.0,5.081100e+10,17.66
4,NWAU,"Consumer Automotive Finance, Inc.",0.045,-0.004,-8.16,100777.0,422555.0,7.876300e+10,NaN

## News

In [7]:
from yahoo_fin import news

In [11]:
news.get_yf_rss("nflx")[:1]

[{'summary': 'In this article we will take a look at the 15 biggest product Flops in History. You can skip our detailed analysis of these products and go directly to the 5 Biggest Product Flops in History. Since stepping into the consumerism era, the brands make windfall and turn rags to riches in one fell swoop. Judging […]',
  'summary_detail': {'type': 'text/html',
   'language': None,
   'base': 'https://feeds.finance.yahoo.com/rss/2.0/headline?s=nflx&region=US&lang=en-US',
   'value': 'In this article we will take a look at the 15 biggest product Flops in History. You can skip our detailed analysis of these products and go directly to the 5 Biggest Product Flops in History. Since stepping into the consumerism era, the brands make windfall and turn rags to riches in one fell swoop. Judging […]'},
  'id': '7ff30a45-73aa-3303-b0ce-2e8b73b73726',
  'guidislink': False,
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'https://finance.yahoo.com/news/15-biggest-product-flops-history-154134037.html?.tsrc=rss'}],
  'link': 'https://finance.yahoo.com/news/15-biggest-product-flops-history-154134037.html?.tsrc=rss',
  'published': 'Sat, 29 May 2021 15:41:34 +0000',
  'published_parsed': time.struct_time(tm_year=2021, tm_mon=5, tm_mday=29, tm_hour=15, tm_min=41, tm_sec=34, tm_wday=5, tm_yday=149, tm_isdst=0),
  'title': '15 Biggest Product Flops in History',
  'title_detail': {'type': 'text/plain',
   'language': None,
   'base': 'https://feeds.finance.yahoo.com/rss/2.0/headline?s=nflx&region=US&lang=en-US',
   'value': '15 Biggest Product Flops in History'}}]

## ETC

Scrapes data from the Analysts page for the input ticker from Yahoo Finance (e.g. https://finance.yahoo.com/quote/NFLX/analysts?p=NFLX. This includes information on earnings estimates, EPS trends / revisions etc.

Returns a dictionary containing the tables visible on the ‘Analysts’ page.

In [2]:
si.get_analysts_info('nflx')

{'Earnings Estimate':   Earnings Estimate  Current Qtr. (Jun 2021)  Next Qtr. (Sep 2021)  \
 0   No. of Analysts                    35.00                 34.00
 1     Avg. Estimate                     3.15                  2.17
 2      Low Estimate                     3.01                  1.65
 3     High Estimate                     3.27                  2.76
 4      Year Ago EPS                     1.59                  1.74

    Current Year (2021)  Next Year (2022)
 0                42.00             42.00
 1                10.54             12.97
 2                 9.86             11.13
 3                11.53             14.90
 4                 6.08             10.54  ,
 'Revenue Estimate':           Revenue Estimate Current Qtr. (Jun 2021) Next Qtr. (Sep 2021)  \
 0          No. of Analysts                      34                   33
 1            Avg. Estimate                   7.32B                7.49B
 2             Low Estimate                   7.14B                7.35B
 3            High Estimate                   7.48B                7.73B
 4           Year Ago Sales                   6.08B                6.38B
 5  Sales Growth (year/est)                  20.30%               17.30%

   Current Year (2021) Next Year (2022)
 0                  40               39
 1              29.73B           34.25B
 2              29.47B              32B
 3               30.1B            35.6B
 4                 25B           29.73B
 5              18.90%           15.20%  ,
 'Earnings History':   Earnings History 6/29/2020 9/29/2020 12/30/2020 3/30/2021
 0         EPS Est.      1.81      2.14       1.39      2.97
 1       EPS Actual      1.59      1.74       1.19      3.75
 2       Difference     -0.22      -0.4       -0.2      0.78
 3       Surprise %   -12.20%   -18.70%    -14.40%    26.30%,
 'EPS Trend':           EPS Trend  Current Qtr. (Jun 2021)  Next Qtr. (Sep 2021)  \
 0  Current Estimate                     3.15                  2.17
 1        7 Days Ago                     3.15                  2.17
 2       30 Days Ago                     3.15                  2.18
 3       60 Days Ago                     2.70                  2.49
 4       90 Days Ago                     2.69                  2.48

    Current Year (2021)  Next Year (2022)
 0                10.54             12.97
 1                10.54             12.97
 2                10.55             12.98
 3                 9.92             13.02
 4                 9.90             12.99  ,
 'EPS Revisions':        EPS Revisions  Current Qtr. (Jun 2021)  Next Qtr. (Sep 2021)  \
 0     Up Last 7 Days                      1.0                   NaN
 1    Up Last 30 Days                      3.0                   1.0
 2   Down Last 7 Days                      NaN                   NaN
 3  Down Last 30 Days                      NaN                   1.0

    Current Year (2021)  Next Year (2022)
 0                  NaN               NaN
 1                  3.0               3.0
 2                  NaN               NaN
 3                  NaN               NaN  ,
 'Growth Estimates':            Growth Estimates    NFLX  Industry  Sector(s)  S&P 500
 0              Current Qtr.  98.10%       NaN        NaN      NaN
 1                 Next Qtr.  24.70%       NaN        NaN      NaN
 2              Current Year  73.40%       NaN        NaN      NaN
 3                 Next Year  23.10%       NaN        NaN      NaN
 4  Next 5 Years (per annum)  44.55%       NaN        NaN      NaN
 5  Past 5 Years (per annum)  76.94%       NaN        NaN      NaN}

In [3]:
si.get_analysts_info('nflx')['Earnings Estimate']

,Earnings Estimate,Current Qtr. (Jun 2021),Next Qtr. (Sep 2021),Current Year (2021),Next Year (2022)
0,No. of Analysts,35.00,34.00,42.00,42.00
1,Avg. Estimate,3.15,2.17,10.54,12.97
2,Low Estimate,3.01,1.65,9.86,11.13
3,High Estimate,3.27,2.76,11.53,14.90
4,Year Ago EPS,1.59,1.74,6.08,10.54

Scrapes the balance sheet for the input ticker from Yahoo Finance (e.g. https://finance.yahoo.com/quote/NFLX/balance-sheet?p=NFLX.

In [4]:
si.get_balance_sheet('nflx', yearly = False)

endDate,2021-03-31,2020-12-31,2020-09-30,2020-06-30
Breakdown,,,,
intangibleAssets,1.335142e+10,1.374761e+10,1.429714e+10,1.463272e+10
totalLiab,2.723893e+10,2.821512e+10,2.828922e+10,2.784053e+10
totalStockholderEquity,1.288408e+10,1.106524e+10,1.033332e+10,9.334753e+09
otherCurrentLiab,5.438228e+09,5.547528e+09,5.639856e+09,5.693994e+09
totalAssets,4.012301e+10,3.928036e+10,3.862254e+10,3.717528e+10
commonStock,3.600084e+09,3.447698e+09,3.303482e+09,3.127813e+09
otherCurrentAssets,6.232400e+08,NaN,6.200820e+08,6.404710e+08
retainedEarnings,9.279859e+09,7.573144e+09,7.030988e+09,6.241012e+09
otherLiab,2.504720e+09,2.654608e+09,2.948809e+09,3.232112e+09
treasuryStock,4.137000e+06,4.439800e+07,-1.147000e+06,-3.407200e+07
otherAssets,1.364094e+10,1.277326e+10,1.173180e+10,1.141448e+10
cash,8.403705e+09,8.205550e+09,8.392391e+09,7.153248e+09
totalCurrentLiabilities,7.961770e+09,7.805785e+09,7.939795e+09,7.626418e+09
deferredLongTermAssetCharges,4.270000e+08,5.890910e+08,4.290000e+08,3.890000e+08
shortLongTermDebt,6.987880e+08,4.998780e+08,4.995170e+08,4.991610e+08
otherStockholderEquity,4.137000e+06,4.439800e+07,-1.147000e+06,-3.407200e+07
propertyPlantEquipment,3.023148e+09,2.997909e+09,2.767118e+09,2.563941e+09
totalCurrentAssets,1.010751e+10,9.761580e+09,9.826480e+09,8.564139e+09
netTangibleAssets,-4.673360e+08,-2.682367e+09,-3.963820e+09,-5.297970e+09
netReceivables,8.070360e+08,1.352988e+09,6.047890e+08,5.656680e+08
longTermDebt,1.486055e+10,1.580910e+10,1.554762e+10,1.529500e+10
accountsPayable,5.329420e+08,6.561830e+08,5.412980e+08,4.466680e+08

Scrapes the income statement for the input ticker, which includes information on Price / Sales, P/E, and moving averages (e.g. https://finance.yahoo.com/quote/NFLX/financials?p=NFLX.

In [5]:
si.get_income_statement('nflx', yearly = False)

endDate,2021-03-31,2020-12-31,2020-09-30,2020-06-30
Breakdown,,,,
researchDevelopment,525207000,486936000,453802000,435045000
effectOfAccountingCharges,None,None,None,None
incomeBeforeTax,2034502000,506417000,861460000,1035602000
minorityInterest,None,None,None,None
netIncome,1706715000,542156000,789976000,720196000
sellingGeneralAdministrative,809708000,1038104000,799221000,711606000
grossProfit,3294771000,2479282000,2567886000,2504579000
ebit,1959856000,954242000,1314863000,1357928000
operatingIncome,1959856000,954242000,1314863000,1357928000
otherOperatingExpenses,None,None,None,None
interestExpense,-194440000,-197186000,-197079000,-189151000
extraordinaryItems,None,None,None,None
nonRecurring,None,None,None,None
otherItems,None,None,None,None
incomeTaxExpense,327787000,-35739000,71484000,315406000
totalRevenue,7163282000,6644442000,6435637000,6148286000
totalOperatingExpenses,5203426000,5690200000,5120774000,4790358000
costOfRevenue,3868511000,4165160000,3867751000,3643707000
totalOtherIncomeExpenseNet,74646000,-447825000,-453403000,-322326000
discontinuedOperations,None,None,None,None
netIncomeFromContinuingOps,1706715000,542156000,789976000,720196000
netIncomeApplicableToCommonShares,1706715000,542156000,789976000,720196000

Returns the table of the top 100 undervalued large caps from Yahoo Finance here: https://finance.yahoo.com/screener/predefined/undervalued_large_caps?offset=0&count=100

In [6]:
si.get_undervalued_large_caps()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,F,Ford Motor Company,14.53,-0.35,-2.35%,150.622M,77.072M,57.999B,14.62,NaN
1,HPQ,HP Inc.,29.23,-2.87,-8.94%,36.477M,10.458M,36.438B,10.50,NaN
2,GM,General Motors Company,59.31,-0.46,-0.77%,11.168M,18.505M,86.039B,9.57,NaN
3,NLY,"Annaly Capital Management, Inc.",9.27,0.05,+0.54%,16.994M,13.707M,12.964B,2.99,NaN
4,PBR,Petróleo Brasileiro S.A. - Petrobras,10.21,0.63,+6.58%,53.5M,35.084M,66.743B,6.14,NaN
...,...,...,...,...,...,...,...,...,...,...
95,LEN-B,Lennar Corporation,78.31,-0.36,-0.46%,31830,59078,30.249B,8.01,NaN
96,VIACA,ViacomCBS Inc.,46.54,-0.86,-1.81%,54227,283375,27.584B,NaN,NaN
97,MKL,Markel Corporation,1225.49,-8.42,-0.68%,43964,49315,16.861B,6.18,NaN
98,IX,ORIX Corporation,88.09,1.09,+1.25%,13377,26256,21.666B,12.45,NaN
99,EBR-B,Centrais Elétricas Brasileiras S.A. - Eletrobrás,8.21,0.10,+1.23%,21737,38699,12.859B,10.05,NaN

Scrapes the “Valuation Measures” data off the statistics page for the input ticker, which includes information on Price / Sales, P/E, and market cap (e.g. https://finance.yahoo.com/quote/NFLX/key-statistics?p=NFLX.

In [14]:
si.get_stats_valuation("aapl")

,Unnamed: 0,As of Date: 5/28/2021Current,3/31/2021,12/31/2020,9/30/2020,6/30/2020,3/31/2020
0,Market Cap (intraday) 5,2.09T,2.04T,2.23T,1.97T,1.56T,1.10T
1,Enterprise Value 3,2.14T,2.07T,2.25T,1.99T,1.58T,1.10T
2,Trailing P/E,28.03,32.92,40.45,35.12,28.52,20.02
3,Forward P/E 1,24.75,28.49,33.44,30.12,24.33,19.65
4,PEG Ratio (5 yr expected) 1,2.04,2.71,3.33,2.86,2.02,1.58
5,Price/Sales (ttm),6.61,7.21,8.47,7.50,6.12,4.34
6,Price/Book (mrq),30.22,30.78,34.16,27.20,19.93,12.28
7,Enterprise Value/Revenue 3,6.58,23.15,20.22,30.69,26.44,18.88
8,Enterprise Value/EBITDA 7,20.76,65.87,61.11,108.89,95.15,66.00

Scrapes data off the statistics page for the input ticker, which includes information on moving averages, return on equity, shares outstanding, etc. (e.g. https://finance.yahoo.com/quote/NFLX/key-statistics?p=NFLX.

In [24]:
si.get_stats('nflx')

                                         Attribute         Value
0                                Beta (5Y Monthly)          0.75
1                                 52-Week Change 3        18.05%
2                          S&P500 52-Week Change 3        37.58%
3                                   52 Week High 3        593.29
4                                    52 Week Low 3        404.25
5                          50-Day Moving Average 3        509.96
6                         200-Day Moving Average 3        519.36
7                              Avg Vol (3 month) 3          4.2M
8                               Avg Vol (10 day) 3         2.97M
9                             Shares Outstanding 5        443.4M
10                    Implied Shares Outstanding 6           NaN
11                                           Float       437.54M
12                            % Held by Insiders 1         1.49%
13                        % Held by Institutions 1        82.24%
14                   Shares Short (May 13, 2021) 4         9.12M
15                    Short Ratio (May 13, 2021) 4           1.7
16               Short % of Float (May 13, 2021) 4         2.09%
17  Short % of Shares Outstanding (May 13, 2021) 4         2.06%
18       Shares Short (prior month Apr 14, 2021) 4        10.19M
19                  Forward Annual Dividend Rate 4           NaN
20                 Forward Annual Dividend Yield 4           NaN
21                 Trailing Annual Dividend Rate 3           NaN
22                Trailing Annual Dividend Yield 3           NaN
23                 5 Year Average Dividend Yield 4           NaN
24                                  Payout Ratio 4         0.00%
25                                 Dividend Date 3           NaN
26                              Ex-Dividend Date 4           NaN
27                             Last Split Factor 2           7:1
28                               Last Split Date 3  Jul 14, 2015
29                                Fiscal Year Ends  Dec 30, 2020
30                       Most Recent Quarter (mrq)  Mar 30, 2021
31                                   Profit Margin        14.24%
32                          Operating Margin (ttm)        21.17%
33                          Return on Assets (ttm)         9.29%
34                          Return on Equity (ttm)        35.31%
35                                   Revenue (ttm)        26.39B
36                         Revenue Per Share (ttm)         59.72
37                  Quarterly Revenue Growth (yoy)        24.20%
38                              Gross Profit (ttm)         9.72B
39                                          EBITDA         5.71B
40                  Net Income Avi to Common (ttm)         3.76B
41                               Diluted EPS (ttm)          8.26
42                 Quarterly Earnings Growth (yoy)       140.70%
43                                Total Cash (mrq)          8.4B
44                      Total Cash Per Share (mrq)         18.95
45                                Total Debt (mrq)        17.74B
46                         Total Debt/Equity (mrq)        137.68
47                             Current Ratio (mrq)          1.27
48                      Book Value Per Share (mrq)         29.06
49                       Operating Cash Flow (ttm)         2.94B
50                    Levered Free Cash Flow (ttm)        13.54B