# yahoo_fin

This script demonstrates what can be obtained by using yahoo_fin library.

Resources:
- https://github.com/atreadw1492/yahoo_fin
- http://theautomatic.net/yahoo_fin-documentation/
- http://theautomatic.net/2018/07/31/how-to-get-live-stock-prices-with-python/

In [1]:
from yahoo_fin import stock_info as si

## tickers

In [2]:
nasdaq_ticker_list = si.tickers_nasdaq()
len(nasdaq_ticker_list)

4691

In [16]:
nasdaq_ticker_list[0:3]

['AACG', 'AACQ', 'AACQU']

In [10]:
sp500_ticker_list = si.tickers_sp500()
len(sp500_ticker_list)

C:\Users\tjtek\anaconda3\lib\site-packages\yahoo_fin\stock_info.py:130: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  sp500["Symbol"] = sp500["Symbol"].str.replace(".", "-")

505

In [13]:
sp500_ticker_list[0:2]

['A', 'AAL']

In [11]:
other_tickers = si.tickers_other()
len(other_tickers)

6002

In [14]:
other_tickers[0:2]

['A', 'AA']

## Quotes & Prices

In [4]:
info = si.get_quote_table("amzn")
info

{'1y Target Est': 4218.76,
 '52 Week Range': '2,330.00 - 3,554.00',
 'Ask': '0.00 x 1000',
 'Avg. Volume': 3759096.0,
 'Beta (5Y Monthly)': 1.15,
 'Bid': '0.00 x 1300',
 "Day's Range": '3,230.37 - 3,312.00',
 'EPS (TTM)': 52.56,
 'Earnings Date': 'Jul 28, 2021 - Aug 02, 2021',
 'Ex-Dividend Date': nan,
 'Forward Dividend & Yield': 'N/A (N/A)',
 'Market Cap': '1.63T',
 'Open': 3292.57,
 'PE Ratio (TTM)': 61.49,
 'Previous Close': 3270.39,
 'Quote Price': 3232.280029296875,
 'Volume': 2828391.0}

In [15]:
aapl = si.get_data("aapl")
aapl.head()

                open      high       low     close  adjclose     volume ticker
1980-12-12  0.128348  0.128906  0.128348  0.128348  0.100751  469033600   AAPL
1980-12-15  0.122210  0.122210  0.121652  0.121652  0.095495  175884800   AAPL
1980-12-16  0.113281  0.113281  0.112723  0.112723  0.088485  105728000   AAPL
1980-12-17  0.115513  0.116071  0.115513  0.115513  0.090676   86441600   AAPL
1980-12-18  0.118862  0.119420  0.118862  0.118862  0.093304   73449600   AAPL

In [17]:
si.get_live_price('aapl')

124.8499984741211

## How to get cryptocurrency prices

In [19]:
si.get_top_crypto().head()

,Symbol,Name,Price (Intraday),Change,% Change,Market Cap,Volume in Currency (Since 0:00 UTC),Volume in Currency (24Hr),Total Volume All Currencies (24Hr),Circulating Supply
0,BTC-USD,Bitcoin USD,39746.700000,-5611.390000,-12.37,7.437970e+11,6.435300e+10,6.435300e+10,6.435300e+10,1.871300e+07
1,ETH-USD,Ethereum USD,3018.130000,-516.970000,-14.62,3.499010e+11,4.505200e+10,4.505200e+10,4.505200e+10,1.159330e+08
2,BNB-USD,BinanceCoin USD,431.110000,-99.430000,-18.74,6.614700e+10,4.601000e+09,4.601000e+09,4.601000e+09,1.534330e+08
3,USDT-USD,Tether USD,1.000384,0.000421,0.04,5.836300e+10,1.593170e+11,1.593170e+11,1.593170e+11,5.834000e+10
4,ADA-USD,Cardano USD,1.756546,-0.357696,-16.92,5.611900e+10,8.416000e+09,8.416000e+09,8.416000e+09,3.194800e+10

## How to get most active, biggest gainers / losers

In [21]:
# get most active stocks on the day
si.get_day_most_active().head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,T,AT&T Inc.,29.55,-1.82,-5.80,246869000.0,43116000.0,210987000000.0,NaN
1,AMC,"AMC Entertainment Holdings, Inc.",14.03,0.08,0.57,172488000.0,95166000.0,6317000000.0,NaN
2,F,Ford Motor Company,12.14,-0.01,-0.08,71044000.0,65962000.0,48459000000.0,12.21
3,NIO,NIO Inc.,34.19,0.38,1.12,63692000.0,97112000.0,56021000000.0,NaN
4,AAPL,Apple Inc.,124.85,-1.42,-1.12,63343000.0,104193000.0,2.083T,28.06

In [22]:
# get biggest gainers
si.get_day_gainers().head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,GCPEF,GCL-Poly Energy Holdings Limited,0.223,0.058,35.15,379328.0,359201.0,8.629000e+09,NaN
1,LEGN,Legend Biotech Corporation,35.300,4.400,14.24,2492000.0,378793.0,4.778000e+09,NaN
2,CRC,California Resources Corporation,28.700,3.510,13.93,1771000.0,345778.0,2.391000e+09,0.84
3,TUYA,Tuya Inc.,21.500,2.540,13.40,1069000.0,1559000.0,1.203500e+10,NaN
4,AUOTY,AU Optronics Corp.,8.350,0.970,13.14,421737.0,346414.0,7.689000e+09,NaN

In [23]:
# get worst performers
si.get_day_losers().head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,TLS,Telos Corporation,29.660,-4.980,-14.38,2932000.0,722516.0,1.979000e+09,NaN
1,SNCY,"Sun Country Airlines Holdings, Inc.",35.100,-4.640,-11.68,542821.0,404983.0,2.006000e+09,NaN
2,SAML,"Samsara Luggage, Inc.",1.580,-0.170,-9.71,21871.0,15686.0,1.354000e+06,NaN
3,VOD,Vodafone Group Plc,18.370,-1.870,-9.24,11651000.0,3271000.0,5.081100e+10,17.66
4,NWAU,"Consumer Automotive Finance, Inc.",0.045,-0.004,-8.16,100777.0,422555.0,7.876300e+10,NaN