# EPS and PER

## Object:
We want to tell if some stocks are undervalued.

If Expected EPS * PER > live stock price, the stock is likely undervalued.

## What to use:
- EPS. Earning Per Share.
- PER. (P/E). Price to Earning Ratio.
- Expected EPS * PER.

In [12]:
import pandas as pd

import yahoo_fin.stock_info as si

## EPS

In [13]:
quote_table = si.get_quote_table("aapl", dict_result=True)
quote_table

{'1y Target Est': 159.6,
 '52 Week Range': '79.30 - 145.09',
 'Ask': '124.82 x 800',
 'Avg. Volume': 97683245.0,
 'Beta (5Y Monthly)': 1.2,
 'Bid': '124.61 x 3100',
 "Day's Range": '124.55 - 125.79',
 'EPS (TTM)': 4.45,
 'Earnings Date': 'Jul 28, 2021 - Aug 02, 2021',
 'Ex-Dividend Date': 'May 07, 2021',
 'Forward Dividend & Yield': '0.88 (0.70%)',
 'Market Cap': '2.079T',
 'Open': 125.57,
 'PE Ratio (TTM)': 28.01,
 'Previous Close': 125.28,
 'Quote Price': 124.61000061035156,
 'Volume': 71311109.0}

In [14]:
eps = quote_table['EPS (TTM)']
eps

4.45

## PER

In [15]:
per = quote_table['PE Ratio (TTM)']
per

28.01

## Expected EPS * PER.

In [16]:
eps * per

124.64450000000001

## Live Price

In [17]:
si.get_live_price("aapl")

124.61000061035156

If Espected EPS * PER is lower than the live price, we diagnose that the stock price is undervalued.

If Espected EPS * PER is higher than the live price, we diagnose that the stock price is overvalued.

In [18]:
import datetime
print(datetime.datetime.now().time())

20:51:36.145314

In [19]:
symbols = 'QQQ,GOOGL'
symbols = symbols.split(',')
for symbol in symbols:
    quote_table = si.get_quote_table(symbol, dict_result=True)
    try:
        eps = quote_table['EPS (TTM)']
        per = quote_table['PE Ratio (TTM)']
        print(eps*per)
        print(si.get_live_price(symbol))
    except:
        print(f'no eps*per for {symbol}')

no eps*per for QQQ
2357.0064
2356.85009765625

In [20]:
pd.DataFrame([[eps*per, si.get_live_price(symbol)], [1, 2]])

           0            1
0  2357.0064  2356.850098
1     1.0000     2.000000