# Earnings

## Object:
- Know how to look up earnings

In [1]:
import pandas as pd

import yahoo_fin.stock_info as si

In [2]:
# get earnings history for AAPL
aapl_earnings_hist = si.get_earnings_history("aapl")
aapl_earnings_hist = pd.DataFrame.from_dict(aapl_earnings_hist)
aapl_earnings_hist.head()

,ticker,companyshortname,startdatetime,startdatetimetype,epsestimate,epsactual,epssurprisepct,timeZoneShortName,gmtOffsetMilliSeconds,quoteType
0,AAPL,Apple Inc,2022-04-26T10:59:00.000Z,TNS,NaN,NaN,NaN,EDT,-14400000,EQUITY
1,AAPL,Apple Inc,2022-01-25T10:59:00.000Z,TNS,NaN,NaN,NaN,EDT,-14400000,EQUITY
2,AAPL,Apple Inc,2021-10-27T10:59:00.000Z,TNS,NaN,NaN,NaN,EDT,-14400000,EQUITY
3,AAPL,Apple Inc,2021-07-28T10:59:00.000Z,TNS,0.99,NaN,NaN,EDT,-14400000,EQUITY
4,AAPL,Apple Inc.,2021-04-28T00:00:00.000Z,TNS,0.99,1.4,41.84,EDT,0,EQUITY

In [3]:
# find the next upcoming earnings date for an input stock ticker
si.get_next_earnings_date("aapl")

datetime.datetime(2021, 7, 27, 17, 0)

In [4]:
# get recent revenue data
si.get_earnings("aapl")

{'quarterly_results':      date  actual  estimate
 0  2Q2020    0.64      0.51
 1  3Q2020    0.73      0.70
 2  4Q2020    1.68      1.41
 3  1Q2021    1.40      0.99,
 'yearly_revenue_earnings':    date       revenue     earnings
 0  2017  229234000000  48351000000
 1  2018  265595000000  59531000000
 2  2019  260174000000  55256000000
 3  2020  274515000000  57411000000,
 'quarterly_revenue_earnings':      date       revenue     earnings
 0  2Q2020   59685000000  11253000000
 1  3Q2020   64698000000  12673000000
 2  4Q2020  111439000000  28755000000
 3  1Q2021   89584000000  23630000000}